.srOnly

/*:not(:focus):not(:active)*/
    {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    /* future proofing */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap;
    /* added line */
}
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }


:root {
    --blue: #2171df;
    --button-shadow: 0 12px 12px -12px black;
    --off-white: #f3f3f3;
    --light-gray-text: #aaa9a9;
    --mid-light-gray: #8e8e8e;
    --mid-light-gray-back: rgb(62, 62, 62);
    --mid-dark-gray-back: rgb(53, 53, 53);
    --mid-gray: rgb(41, 41, 42);
    --dark-gray: rgb(26, 26, 26);
    --green: #81d742;
}

.👪 .🙎‍♂️75 {
    flex-basis: 75%;
}
.👪 .🙎‍♂️50 {
    flex-basis: 50%;
}
.👪 .🙎‍♂️25 {
    flex-basis: 25%;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
body > * {
    margin: 0 auto;
}
header {
    flex-direction: column;
    overflow: hidden;
}
nav {
    background-color: var(--dark-gray);
    height: 55px;
    margin: 0;
}

h1 {
    color: white;
    font-family: 'Yellowtail';
}

h1, h2 {
    color: white
}

.black {
    color: black;
}
.aCenter {
    align-items: center;
}
.jSpBetween {
    justify-content: space-between;
}
.jSpAround {
    justify-content: space-around;
}

.jConCenter {
    justify-content: center;
}
.topBar {
    background-color: var(--blue);
}
.topBar p {
    color: white;
}
.bar2 {
    background-color: var(--dark-gray);
}
.bar3, .comeVisit,  .services {
    background-color: var(--mid-gray);
}

.bar4, .businessHours, .feelingFrozen, .implants, .digitalXrays {
    background-color: var(--mid-light-gray-back);
}
.ourDentists, footer {
    background-color: var(--mid-dark-gray-back);
}
.cerec {
    background-color: var(--off-white);
}

.socialsList,
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
}

header .socialsList i {
    color: white;
}

.blueButton {
    background-color: var(--blue);
    box-shadow: var(--button-shadow);
    padding: .667em 1.333em;
    text-transform: uppercase;
}

.readMoreWhite {
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    color: var(--dark-gray);
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: .667em 1.333em;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
}
.grid {
    display: grid;
    grid-auto-flow: row dense;
}
.hoursGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.dentistsGrid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.servicesGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
} 

.gridCol1 {
    grid-column-start: 1;
}

.gridCol2 {
    grid-column-start: 2;
}

.gridCol3 {
    grid-column-start: 3;
}
.gridCol4 {
    grid-column-start: 4;
}
.gridCol5 {
    grid-column-start: 5;
}
.gridCol6 {
    grid-column-start: 6;
}

.gridRow1 {
    grid-row-start: 1;
}
.gridRow2 {
    grid-row-start: 2;
}
.gridRow3 {
    grid-row-start: 3;
}
.gridRow4 {
    grid-row-start: 4;
}
.gridRow5 {
    grid-row-start: 5;
}

footer .bottomBar {
    background-color: black;
}
footer .socialsList i {
    color: var(--mid-light-gray);
}

